@media (min-width: 769px) { /*ぱそこん*/

body{
	overflow-x: hidden;
	font-family :
	YuGothic,
	'Yu Gothic',
	sans-serif;
} 

	.for_mobile{
		display: none;
	}
	.for_pc hr{
		width: 100vw;
		font-size: 5px;
	}
	.for_pc img{
		width: 100%;
	}

.wrap{
	width: 100%;
}
.c_body{
	text-align: center;
}

	#main_bg img{
		width: 96vw;
	}
#main_bg{
	margin: 4vw 0 0 0;
	position: relative;
}
	#main_dgt img{
		width: 29vw;
	}
#main_dgt{
	position: absolute;
	top: 30.3%;
	left: 34.5%;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
}
	#main_daigaku img{
		width: 10vw;
	}
#main_daigaku{
	position: absolute;
	top: 28%;
	left: 73.5%;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
}
#main_logo{
	position: absolute;
	top: 74%;
	left: 77%;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
}
header{
	margin: auto auto 0;
}
	
#h_icon{
	float: left;
	margin: 0px 5%;
}
	#h_icon img{
		width: 45px;
	}
#h_menu{
	float: right;
	margin: 13px 4% 2px;
	color: #999;
	text-decoration: none;
	width: 300px;
}
#for_pc_nav{
	background-color: rgba(255, 255, 255, 0.65);
	padding: 0px 0px 7px;
	height: 68px;
}
	nav{
		margin: 8px auto 1px;
		height: 50px;
	}
	.kotei_pc{
		position: fixed;
  		top: 0px;
		left: 0px;
		height: 65px;
		width: 100%;
	}
	.space{
		width: 100%;
		height: 83px;
	}
#for_mob_menu{
	display: none;
}
	
#h_icon ime{
	margin: auto 1%;
}
#h_menu img{
	margin: 0.5% 1.5%;
}

section{
	padding: 50px auto auto;
}

h2{
	padding: 100% auto;
}
#b_about{
	margin: 2% auto;
	padding: 10.5% 0% 0%;
	font-size: 16px;
	line-height: 34px;
}

#b_theme{
	margin: 2% auto;
	padding: 10.5% 0% 0%;
	font-size: 16px;
	line-height: 34px;
}

#b_info{
	margin: 2% auto;
	padding: 10.5% 0% 0%;
	font-size: 16px;
	line-height: 34px;
	width: 700px;
}
	
.left_a{
	display: inline-block;
	text-align: left;
}
.left_b{
	display: inline-block;
	margin: 0 4.7%;
	text-align: left;
}
.left{
	display: inline-block;
	text-align: left;
}
.info_contents_a{
	border-left: solid;
	display: inline-block;
	width: 550px;
	text-align: left;
	margin: 1% auto;
	padding: 0 10px;
}
.info_contents_b{
	border-left: solid;
	display: inline-block;
	width: 550px;
	text-align: left;
	margin: 5% auto;
	padding: 0 10.4px;
}
	.info_contents_b hr{
		width: 95%;
		margin-left: 0;
		border-width: 0px;
		height: 2px;
		background-color: #333;
	}
.info_contents_2{
	display: inline-block;
	width: 550px;
	text-align: left;
	margin-top: 5%;
	padding: 0 10px;
}


footer{
	width: 100%;
	background-color: #141450;
	text-align: center;
	position: relative;
}
	footer img{
		width: 100%;
	}
#f_images{
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
}
#f_images_a img{
	margin: 2% 1% 1%;
	width: 42px;
}
#f_image img{
	margin: 1% 3%;
	width: 160px;
}
#copy_r{
	margin: 0 auto -25px;
	padding: 0px;
	color: white;
	font-size: 12px;
	line-height: 18px;
}
	
}

@media (max-width: 768px) { /*けーたい と たぶれっと*/

body{
	overflow-x: hidden;
	font-family :
	YuGothic,
	'Yu Gothic',
	sans-serif;
}
	
	.for_pc{
		display: none;
	}
	.for_mobile img{
		width: 100%;
	}

.wrap{
	width: 100%;
	min-width: 320px;
}
.c_body{
	text-align: center;
}

header{
	position: relative;
}
#for_pc_nav{
	display: none;
}
nav{
}
#for_mob_menu{
	position: fixed;
	top: 13%;
	left: 90%;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
}
	#for_mob_menu img{
		width: 90%;
	}
#mob_menu{
	background: rgba(255, 255, 255, 0.95);
  	padding: 50px;
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
	color: #222;
	text-align: center;
    z-index:100;
}
	.mob_nav li{
		list-style-type: none;
	}
	
.mob_nav{
	position: fixed;
	text-align: left;
	font-size: 20px;
	text-decoration: none;
}
.mob_nav a :link{
	color: #222;
}
.mob_nav a :visited{
	color: #222;
}
	#mob_nav1a img{
		width: 40%;
	}
	#mob_nav1b img{
		width: 70%;
	}
	#mob_nav2 img{
		width: 70%;
	}
	#mob_nav1a li{
		margin: 10% auto;
		text-align: center;
	}
	#mob_nav1b li{
		margin: 10% auto;
		text-align: center;
	}
	#mob_nav2 li{
		margin: 1% auto;
		text-align: center;
	}


h2{
	margin: 1% auto;
}
#b_about{
	margin: 3% auto;
	padding: 3% 0% 0%;
	font-size: 95%;
	line-height: 190%;
	width: 85%;
}

h3{
	margin: 1% auto;
}
#b_theme{
	margin: 9% auto;
	padding: 3% 0% 0%;
	font-size: 95%;
	line-height: 190%;
	width: 85%;
}

h4{
	margin: 1% auto;
}
#b_info{
	margin: 9% auto;
	padding: 3% 5% 0%;
	font-size: 95%;
	line-height: 190%;
	width: 85%;
}
.left_a{
	text-decoration: underline;
	text-align: left;
	margin-bottom: 0;
}
.left_b{
	text-decoration: underline;
	text-align: left;
	margin-bottom: 0;
}
.info_contents_a{
	text-align: left;
	margin-top: -33px;
}
.info_contents_b{
	text-align: left;
}
	.info_contents_b hr{
		margin-left: 0;
		border-width: 0px;
		height: 2px;
		background-color: #333;
	}


footer{
	width: 100%;
	background-color: #141450;
	text-align: center;
	position: relative;
	z-index: 50;
}
#f_images{
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
	z-index: 60;
}
#f_image img{
	margin: 1% 3%;
}
#f_images_a img{
	margin: 1% 3%;
}
#copy_r{
	color: white;
	font-size: 12px;
	position: absolute;
	top: 91%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
}
	
}

